.active{
    /* background-color: rgba(255, 255, 255, 0.5); */
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}