<template>
  <div class="container-fluid py-3">
    <!-- <div class="header pt-5">
      <h1 class="h4 label">{{ member.name }}</h1>
    </div> -->

    <div class="container mt-3">
      <div class="row justify-content-end mb-2">
        <div class="col">
          <b-button @click="$router.go(-1)" size="sm" variant="success">
            <b-icon icon="arrow-left-short"></b-icon> Назад
          </b-button>
        </div>
        <div class="col-auto">
          <b-button v-if="!editing" @click="startEditing" size="sm" variant="primary">
            <b-icon icon="pencil-fill"></b-icon> Изменить
          </b-button>
          <b-button v-else @click="cancel" size="sm" variant="secondary">
            <b-icon icon="x-circle-fill"></b-icon> Отменить
          </b-button>

          <b-button @click="remove" size="sm" variant="danger"> <b-icon icon="trash-fill"></b-icon> Удалить </b-button>
        </div>
      </div>

      <div class="mt-3">
        <transition mode="out-in" name="fade">
          <div v-if="!editing" key="editing" class="row align-items-top justify-content-between">
            <div class="col">
              <h3 class="mb-0">{{ member.name }}</h3>
              <p class="text-muted mb-0">{{ member.position }}</p>
              <p class="mb-0">
                {{ member.gender == 'male' ? 'Муж.' : 'Жен.' }} / {{ member.birth_day | moment('from', true) }}.
              </p>
            </div>
            <div class="col-auto">
              <h5 class="mb-0">{{ member.department }}</h5>
            </div>
          </div>

          <div v-else key="cancel">
            <form ref="form" @submit.stop.prevent="save">
              <b-form-group label="ФИО" invalid-feedback="Name is required" :state="states.name">
                <b-form-input name="name" v-model="member.name" :state="states.name" required></b-form-input>
              </b-form-group>

              <b-form-group label="Отдел" invalid-feedback="Name is required" :state="states.name">
                <b-form-select v-model="member.department">
                  <b-form-select-option v-for="(department, $i) in departments.all" :key="$i" :value="department.text">
                    {{ department.text }}
                  </b-form-select-option>
                </b-form-select>
              </b-form-group>

              <b-form-group label="Должность" invalid-feedback="Name is required" :state="states.name">
                <b-form-input v-model="member.position" :state="states.name" required></b-form-input>
              </b-form-group>

              <b-form-radio-group
                v-model="member.gender"
                :options="[
                  { value: 'male', text: 'Муж.' },
                  { value: 'female', text: 'Жен.' },
                ]"
                class="mb-3"
              ></b-form-radio-group>

              <label for="birth_day">Дата рождения</label>
              <b-form-datepicker
                show-decade-nav
                v-model="member.birth_day"
                id="birth_day"
                :state="states.birth_day"
              ></b-form-datepicker>

              <div class="text-right mt-2">
                <b-button @click="save" variant="success">
                  <b-icon icon="check-circle-fill"></b-icon>
                  Сохранить
                </b-button>
              </div>
            </form>
          </div>
        </transition>
      </div>
    </div>
  </div>
</template>
<script>
// Components
import swal from 'sweetalert2'
import 'sweetalert2/dist/sweetalert2.css'

// Services
import staffService from '@/services/staff'

// Utils
import { clone } from '@/utils/clone'
import { mapState } from 'vuex'

export default {
  // async asyncData({ params }) {
  //   let member = staffService.get(params.userId)

  //   return { member }
  // },
  data() {
    return {
      member: {},
      backup: {},
      editing: false,

      states: {
        name: null,
        gender: null,
        position: null,
        birth_day: null,
        department: null,
      },
    }
  },
  async mounted() {
    this.member = await staffService.get(this.$route.params.userId)
  },
  methods: {
    save() {
      if (this.$refs.form.checkValidity()) {
        staffService.update(this.member)
        this.editing = false
      }
    },

    remove() {
      swal
        .fire({
          title: 'Это действие необратимо!',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Да, удалить',
          cancelButtonText: 'Нет, оставить',
          html: `Вы действительно хотите удалить <b>${this.member.name}</b>?`,
        })
        .then((result) => {
          if (result.value) {
            staffService.delete(this.member)
            this.$router.go(-1)
          }
        })
    },

    startEditing() {
      this.backup = clone({ ...this.member })
      this.editing = true
    },
    cancel() {
      this.member = clone({ ...this.backup })
      this.editing = false
    },
  },
  computed: {
    ...mapState({
      departments: 'departments',
    }),
  },
}
</script>