<template>
  <div class="container-fluid">
    <div class="header pt-5">
      <h1 class="h4 label">Все сотрудники</h1>
    </div>

    <div class="container">
      <div class="row justify-content-end mb-2">
        <div class="col-auto">
          <b-form-input v-model="search" placeholder="Поиск..."></b-form-input>
        </div>
        <div class="col-auto">
          <b-form-select v-model="filters.department" @input="filter">
            <b-form-select-option value="">Отдел</b-form-select-option>
            <b-form-select-option v-for="(department, $i) in departments.all" :key="$i" :value="department.text">
              {{ department.text }}
            </b-form-select-option>
          </b-form-select>
        </div>

        <div class="col-auto">
          <button @click="addModal" class="btn btn-success">Добавить сотрудника</button>
        </div>
      </div>

      <b-modal ref="add-staff" title="Добавить нового пользователя" @ok="handleSubmit">
        <form ref="form" @submit.stop.prevent="handleSubmit">
          <b-form-group label="ФИО" invalid-feedback="Name is required" :state="states.name">
            <b-form-input name="name" v-model="modalData.name" :state="states.name" required></b-form-input>
          </b-form-group>

          <b-form-group label="Отдел" invalid-feedback="Name is required" :state="states.name">
            <b-form-select v-model="modalData.department">
              <b-form-select-option v-for="(department, $i) in departments.all" :key="$i" :value="department.text">
                {{ department.text }}
              </b-form-select-option>
            </b-form-select>
          </b-form-group>

          <b-form-group label="Должность" invalid-feedback="Name is required" :state="states.name">
            <b-form-input v-model="modalData.position" :state="states.name" required></b-form-input>
          </b-form-group>

          <b-form-radio-group
            v-model="modalData.gender"
            :options="[
              { value: 'male', text: 'Муж.' },
              { value: 'female', text: 'Жен.' },
            ]"
            class="mb-3"
          ></b-form-radio-group>

          <label for="birth_day">Дата рождения</label>
          <b-form-datepicker
            show-decade-nav
            v-model="modalData.birth_day"
            id="birth_day"
            :state="states.birth_day"
          ></b-form-datepicker>
        </form>
      </b-modal>

      <b-table
        striped
        hover
        :current-page="currentPage"
        :per-page="10"
        :fields="fileds"
        :items="staff.filter((el) => el.name.toLowerCase().includes(search.toLowerCase()))"
        :filter="filters"
        :busy="loading"
      >
        <template #cell(name)="{ item }">
          <nuxt-link :to="`/users/${item.id}`"> {{ item.name }} </nuxt-link>
        </template>

        <template #cell(gender)="{ item }">
          {{ item.gender == 'male' ? 'Муж.' : 'Жен.' }}
        </template>

        <template #cell(birth_day)="{ item }">
          {{ item.birth_day | moment('DD.MM.y') }}
        </template>

        <template #cell(actions)="{ item }">
          <div class="text-right">
            <b-button @click="editModal(item)" variant="primary" size="sm"
              ><b-icon icon="pencil-fill"></b-icon
            ></b-button>
            <b-button @click="remove(item)" variant="danger" size="sm"><b-icon icon="trash-fill"></b-icon></b-button>
          </div>
        </template>
      </b-table>

      <div class="mt-2">
        <b-pagination align="right" v-model="currentPage" :total-rows="staff.length" :per-page="10"></b-pagination>
      </div>
    </div>
  </div>
</template>

<script>
// Components
import swal from 'sweetalert2'
import 'sweetalert2/dist/sweetalert2.css'

// Services
import staffService from '@/services/staff'

// Utils
import { mapState } from 'vuex'

export default {
  // async asyncData() {
  //   let staff = await staffService.getAll({})

  //   return { staff }
  // },
  data() {
    return {
      staff: [],
      currentPage: 1,
      method: 'create',
      loading: false,
      search: '',

      fileds: [
        { key: 'name', label: 'ФИО' },
        { key: 'position', label: 'Должность' },
        { key: 'department', label: 'Отдел', sortable: true },
        { key: 'gender', label: 'Пол', sortable: true },
        { key: 'birth_day', label: 'Дата рождения', sortable: true },
        { key: 'actions', label: 'Действия' },
      ],
      filters: {
        department: '',
        gender: '',
      },
      modalData: {},

      defaultModel: {
        name: '',
        gender: '',
        position: '',
        birth_day: '',
        department: '',
      },

      states: {
        name: null,
        gender: null,
        position: null,
        birth_day: null,
        department: null,
      },
    }
  },
  async mounted() {
    this.loading = true
    this.staff = await staffService.getAll({})
    this.loading = false
  },

  methods: {
    save() {
      staffService[this.method](this.modalData)
      if (this.method == 'update') {
        this.staff = this.staff.map((el) => (el.id == this.modalData.id ? this.modalData : el))
      }
    },

    editModal(item) {
      this.method = 'update'
      this.modalData = { ...item }
      this.$refs['add-staff'].show()
    },

    addModal() {
      this.method = 'create'
      this.modalData = { ...this.defaultModel }
      this.$refs['add-staff'].show()
    },

    remove(item) {
      swal
        .fire({
          title: 'Это действие необратимо!',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Да, удалить',
          cancelButtonText: 'Нет, оставить',
          // buttonsStyling: false,
          // confirmButtonClass: 'btn btn-danger btn-fill',
          // cancelButtonClass: 'btn btn-secondary btn-fill mr-3',
          html: `Вы действительно хотите удалить <b>${item.name}</b>?`,
        })
        .then((result) => {
          if (result.value) {
            staffService.delete(item)
            this.staff = this.staff.filter((el) => el.id != item.id)
          }
        })
    },

    handleSubmit() {
      if (this.$refs.form.checkValidity()) {
        this.save()
      }
    },

    filter() {
      this.staff = staffService.getAll(this.filters)
    },
  },
  computed: {
    ...mapState({
      departments: 'departments',
    }),
  },
}
</script>