<template>
  <div>
    <b-navbar toggleable="lg" type="dark" variant="success">
      <b-navbar-brand>
        <nuxt-link class="text-white nav-link" to="/"> Aliftech HR </nuxt-link>
      </b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <ul class="navbar-nav">
          <li class="nav-item">
            <nuxt-link active-class="active" class="text-white nav-link" to="/users"> Сотрудники</nuxt-link>
          </li>
        </ul>
      </b-collapse>
    </b-navbar>

    <div class="main-content">
      <Nuxt />
    </div>
  </div>
</template>

<style>
</style>
