<template>
  <div class="container mt-5">
    <div>
      <b-card-group deck>
        <b-card bg-variant="primary" text-variant="white" header="Всего сотрудников" class="text-center">
          <b-card-text>
            <h1>{{ stats.quantity }}</h1>
          </b-card-text>
        </b-card>

        <b-card bg-variant="info" text-variant="white" header="Средний возраст" class="text-center">
          <b-card-text>
            <h1>{{ stats.avgAge }}</h1>
          </b-card-text>
        </b-card>

        <b-card bg-variant="info" text-variant="white" header="Ближайшие дни рождения" class="text-center">
          <b-card-text>
            <template v-for="bday in stats.nearestBDays">
              <h5 :key="`h_${bday.id}`" class="mb-0">
                <nuxt-link class="text-white" :to="`/users/${bday.id}`">{{ bday.name }} </nuxt-link>
              </h5>
              <p :key="bday.id" class="mb-0">{{ bday.birth_day | moment('DD.MM.y') }}</p>
            </template>
          </b-card-text>
        </b-card>
      </b-card-group>
    </div>
    <div class="row mt-3">
      <div class="col-md-6">
        <apexchart type="bar" :options="optionsGender" :series="optionsGender.series"></apexchart>
      </div>

      <div class="col-md-6">
        <apexchart ref="dep" type="bar" :options="optionsDepartment" :series="optionsDepartment.series"></apexchart>
      </div>
    </div>
  </div>
</template>

<script>
// Services
import dashboard from '@/services/dashboard'

export default {
  data() {
    return {
      stats: {},
      optionsGender: { series: [], noData: { text: 'Загрузка...' }, xaxis: { categories: ['Женщин', 'Мужчин'] } },
      optionsDepartment: { series: [], noData: { text: 'Загрузка...' }, xaxis: {} },
    }
  },
  async mounted() {
    this.stats = await dashboard.getStats()

    await this.optionsGender.series.push({
      name: 'Сотрудников',
      data: [this.stats.women, this.stats.men],
    })

    this.$refs.dep.chart.axes.w.config.xaxis.categories = Object.keys(this.stats.filteredByDepartment)

    await this.optionsDepartment.series.push({
      name: 'Сотрудников',
      data: Object.values(this.stats.filteredByDepartment),
    })
  },
}
</script>

